---
layout: default
title: Home
---

<div class="presentation">
  <h3>The Focus Quest is:</h3>
  <p>An attempt to make work pleasant, do it in less time, and enjoy life.</p>
  <p>It's my stream of notes on distraction, attention and intention, and how that all plays with knowledge work —software development in particular.</p>
  <p>Also, a collection of <a href="/tools">tools</a> I've found useful.</p>
  <p>Here. Have a seat.</p>
  <p>Noel Rivas — blog at noelr.dev</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  {% if post.draft != true %}
  <div class="post posts-item">
    <h2 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.summary %} 
    <p class="post-summary">{{ post.summary }}</p>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
