.masthead .masthead-title a {
  color: #789;
}

.masthead .masthead-title small {
  color: #567;
}

.wrap {
  background-color: rgb(32, 32, 32);
}

.presentation {
  border: 1px solid rgba(230, 240, 255, .5);
  border-radius: 2px;
  padding: 1.5em;
  margin-bottom: 4em;
  background-color: rgb(32, 32, 32);
  box-shadow: 0 20px 50px rgba(120, 180, 255, .15), inset 3px 3px 5px rgba(160, 200, 255, .2), inset -3px -3px 5px rgba(160, 200, 255, .2);
}

.presentation h3 {
  color: #9ab;
}

.presentation p {
  color: #89a;
}

.posts {
  padding-bottom: 4em;
}

.posts .post {
  margin-bottom: 3em;
}

.post-title a {
  color: #268bd2;
}

.post-date {
  margin-bottom: .5em;
  font-size: 1em;
}

.post-summary {
  margin-bottom: 0;
  color: #678;
}

.tools-sidebar {
  padding: 1em 1.5em;
}

.tools-sidebar h3 {
  color: #efefef;
}

.post h1.post-title {
  color: #9ab;
}

.post p,
.post ul,
.post ul li {
  color: #9ab;
}

.related h2 {
  color: #9ab;
}
